.loadingSpinner {
  margin-top: 150px;
  width: var(--spinner-size, 80px);
  height: var(--spinner-size, 80px);
  border: 5px solid var(--spinner-color, #9A070E);
  border-top-color: transparent;
  border-radius: 50%;
}

.label {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  color:  #fff;
}

.label::after {
  content: "...";
  animation: dots 1.5s infinite;
  margin-left: 4px;
}

@keyframes dots {
  0%, 20% { content: ""; }
  40% { content: "."; }
  60% { content: ".."; }
  80%, 100% { content: "..."; }
}