.container {
    overflow: hidden;
    background-image: url("../../../../3-assets/SignUp.jpg");
    background-size: cover;
    background-position: center;
}

.main,
.mainAuto {
    background-color: rgba(0, 0, 0, 0.822);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    background-color: rgba(0, 0, 0, 0.671);
    width: 750px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
    position: relative;
    box-shadow: 0px 0px 5px #CD4E17;
}

.logo {
    width: 90px;
    border-radius: 50%;
    display: block;
    outline: 2px solid #CD4E17;
    box-shadow: 0px 0px 10px #CD4E17;
    margin: auto;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.group {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.input {
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #CD4E17;
    color: white;
    font-weight: 700;
}

.label {
    position: absolute;
    font-weight: 700;
    font-size: 18px;
    left: 55px;
    top: 10px;
    transition: 0.2s ease all;
    pointer-events: none;
    color: #CD4E17;
}

.mainForm {
    margin-top: 80px;
}

.input:focus~.label,
.input:not(:placeholder-shown)~.label {
    top: -12px;
    font-size: CD4E17;
    color: #CD4E17;
}

.fullName {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: c;
    gap: 2rem;
}

.fullName .label {
    left: 5px;
}

.fullName .input {
    width: 200px;
}

.someData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    gap: 2rem;
}

.radioContainer {
    display: flex;
    font-weight: 700;
    color: #CD4E17;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px 0;
}

.radioGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: white;
}

.radioLabel {
    font-size: 18px;
}

.radioLabel input {
    margin-right: 5px;
}

.btn {
    width: 300px;
    height: 40px;
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #CD4E17;
    color: white;
    cursor: pointer;
}

.spanEye,
.iconCalendar {
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 70px;
    font-size: 20px;
}

.spanEye {
    cursor: pointer;
}

.login {
    color: white;
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 17px;
    gap: .5rem;
}

.login a {
    color: white;
}

.dateInput::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1;
    position: absolute;
    right: 70px;
}

.errors {
    color: white;
    background-color: rgba(0, 0, 0, 0.671);
    box-shadow: 0px 0px 5px #CD4E17;
    padding: 10px 30px;
    width: 500px;
    margin-top: 30px;
}

.errorMessage {
    font-size: 1.2rem;
    background-color: rgba(255, 0, 0, 0.468);
    border-radius: 5px;
    width: 200px;
}

.errors ul {
    text-align: start;
    padding: 0;
}

.errors ul li {
    text-align: start;
    padding: 0;
    padding: 2px 0;
}


@media (max-width: 1400px) {
    .main {
        height: 800px;
    }

    .mainAuto {
        height: 900px;
    }
}

@media (max-width: 1100px) {
    .form {
        width: 750px;
        height: 450px;
    }

    .logo {
        width: 90px;
        top: -50px;
    }


    .fullName .input {
        width: 200px;
    }


}

@media (max-width: 890px) {
    .form {
        width: 600px;
        height: 450px;
    }

    .logo {
        width: 90px;
        top: -50px;
    }


    .fullName {
        gap: 1.5rem;
    }

    .input {
        font-size: 17px;
        width: 220px;
    }

    .fullName {
        width: 150px;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 60px;
    }

    .fullName .input {
        width: 150px;
    }

    .spanEye,
    .iconCalendar {
        margin-right: 10px;
    }

    .label {
        left: 5px;
        top: 10px;
    }

    .mainForm {
        margin: 0;
    }

    .dateInput::-webkit-calendar-picker-indicator {
        opacity: 0;
        z-index: 1;
        position: absolute;
        right: 10px;
    }

}

@media (max-width: 780px) {
    .form {
        width: 600px;
        height: 450px;
    }

    .logo {
        width: 90px;
        top: -50px;
    }


    .input {
        font-size: 17px;
        width: 220px;
    }

    .btn {
        width: 250px;
        height: 35px;
    }
}

@media (max-width: 660px) {

    .form {
        width: 500px;
        height: 550px;
    }

    .mainAuto {
        height: 1000px;
    }

    .fullName {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .fullName .input {
        width: 180px;
    }

    .input {
        width: 180px;
    }

    .errors {
        padding: 10px 30px;
        width: 500px;
        margin-top: 30px;
    }

    .errorMessage {
        font-size: 1.2rem;
        width: 200px;
    }

    .errors ul li {
        padding: 2px 0;
    }
}

@media (max-width: 550px) {
    .form {
        width: 450px;
        height: 500px;
    }

    .label {
        left: 5px;
        font-weight: 700;
        font-size: 15px;
        top: 10px;
    }

    .labelGender {
        font-size: 15px;
    }

    .radioLabel {
        font-size: 15px;
    }

    .login {
        font-size: 15px;
    }

    .errors {
        padding: 10px 30px;
        width: 450px;
        margin-top: 30px;
    }

    .errorMessage {
        font-size: 1.2rem;
        width: 200px;
    }

    .errors ul li {
        padding: 2px 0;
    }

}

@media (max-width: 500px) {
    .form {
        width: 350px;
        height: 580px;
    }

    .mainAuto {
        height: 1050px;
    }

    .errors {
        padding: 10px 30px;
        width: 350px;
        margin-top: 20px;
    }

    .errorMessage {
        font-size: 1.2rem;
        width: 200px;
    }

    .errors ul li {
        font-size: 0.9rem;
        padding: 2px 0;
    }

    .logo {
        width: 80px;
        top: -50px;
    }


    .fullName {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .fullName .input {
        width: 250px;
    }

    .input {
        width: 250px;
    }

    .someData {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.3rem;
        margin-top: 40px;
    }

    .logo {
        width: 100px;
        top: -50px;
    }

    .radioContainer {
        margin: 15px 0;
    }
}

@media (max-width: 460px) {
    .form {
        width: 350px;
        height: 580px;
    }

    .logo {
        width: 90px;
        top: -40px;
    }
}

@media (max-width: 400px) {
    .form {
        width: 300px;
        height: 560px;
    }

    .errors {
        padding: 10px 30px;
        width: 300px;
        margin-top: 30px;
    }

    .logo {
        width: 80px;
        top: -40px;
    }

    .fullName .input {
        width: 200px;
    }

    .input {
        width: 200px;
    }

    .spanEye,
    .iconCalendar {
        margin-right: 10px;
    }

    .label {
        left: 5px;
        top: 10px;
    }

    .radioContainer {
        gap: 1.5rem;
    }

    .btn {
        width: 200px;
        height: 35px;
    }

    .login {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 14px;
        gap: .5rem;
    }
}

@media (max-width: 330px) {
    .form {
        width: 260px;
        height: 580px;
    }



    .errors {
        padding: 10px 30px;
        width: 260px;
        margin-top: 20px;
    }
}