.container {
    max-width: 1800px;
    margin: 0 auto;
    padding-top: 120px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    padding: 40px 80px;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.card {
    border-radius: 8px 8px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    transition: box-shadow 0.2s ease;
    margin: 0 auto;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.308);
    overflow: hidden;
}

.cardContent {
    background-color: #242424;
    padding: 10px 20px 20px 20px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    z-index: 1;
}

.image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-color: white;
    border-radius: 8px 8px 0 0;
    transition: 0.5s;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 8px 0;
    text-align: center;
    color: white;
}

.price {
    font-size: 1rem;
    color: #e6e6e6;
    margin-bottom: 12px;
}

.addButton {
    background-color: #CD4E17;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: 0.3s ease;
    position: relative;
}

.addButton:hover:not(:disabled) {
    background-color: #c04915;
}

.addButton:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.addButton.isAdded {
    background-color: #cd4e1770;
    transition: all 0.3s ease-in-out;
}

.QuantityOneSupplement {
    background-color: white;
    color: #000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
    border-radius: 50%;
    left: 0;
    top: -10px;
    position: absolute;
}

.empty {
    padding: 20px;
    text-align: center;
    color: #777;
}

.error {
    color: black;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: 5px solid red;
    box-shadow: 0px 0px 5px white;
}

.loading {
    color: black;
    font-size: 25px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-left: 5px solid rgb(255, 136, 0);
    box-shadow: 0px 0px 5px white;
}


.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.learnMoreButton {
    background-color: #177bcd;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s ease;
    text-decoration: none;
}

.learnMoreButton:hover {
    background-color: #0056b3;
}

.search {
    margin-left: 95px;
    width: 50%;
    padding: 20px 20px 0 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.search input {
    width: 100%;
    border-radius: 8px;
    padding: 12px 15px;
    outline: none;
    border: 2px solid #333;
    color: #fff;
    background-color: #1c1c1c;
    font-size: 18px;
    transition: 0.3s ease;
}

.search input::placeholder {
    color: #aaa;
}

.search input:focus {
    border-color: #CD4E17;
    box-shadow: 0 0 8px rgba(205, 78, 23, 0.5);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 1rem;
    margin-bottom: 30px;
}

.page_button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.page_button:hover {
    background: #f3f3f3;
}

.page_button.active {
    background: #3b82f6;
    color: white;
    border-color: #3b82f6;
}

.nav_button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.nav_button:hover:not(:disabled) {
    background: #f3f3f3;
}

.nav_button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}