.form {
    width: 500px;
    margin: 0 auto;
    background: #1d1d1d;
    padding: 30px;
    padding-bottom: 0;
    padding-top: 90px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-family: "Segoe UI", sans-serif;
    margin-top: 150px;
}

.group {
    position: relative;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    padding: 12px 14px;
    background: #2a2a2a;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease;
}

.input:focus {
    border-color: #cd4e17;
    outline: none;
    background: #333;
}

.label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: -8px;
    left: 10px;
    font-size: 12px;
    color: #cd4e17;
    background: #1d1d1d;
    padding: 0 5px;
    border-radius: 4px;
}

.dateInput {
    padding-right: 40px;
}

.dateInput::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.iconCalendar {
    position: absolute;
    right: 12px;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    color: #cd4e17;
    font-size: 18px;
    pointer-events: none;
}

.radioGroup {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
}

.radioLabel input {
    accent-color: #cd4e17;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.fileLabel {
    display: inline-block;
    padding: 12px 16px;
    background: #cd4e17;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    transition: background 0.3s;
}

.fileLabel:hover {
    background: #9a070e;
}

.btnsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 15px 0 20px 0;
}

.btnsContainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 150px;
    padding: 12px 16px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.cancelBtn {
    color: black;
    background-color: #cccccc;
    border: 2px solid #9A070E;
}

.cancelBtn:hover {
    color: white;
    background-color: #9A070E;
}

.saveBtn {
    color: white;
    background-color: #CD4E17;
}

.saveBtn:hover {
    background-color: #9A070E;
}

.imageContainer {
    position: absolute;
    cursor: pointer;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
}

.previewImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 120PX;
    height: 120PX;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #CD4E17;
    z-index: -1;
    cursor: pointer;
}

.AddImageIcon {
    cursor: pointer;
    position: absolute;
    color: #CD4E17;
    left: 50px;
}

.errors {
    color: white;
    padding: 0 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-size: 1.2rem;
    background-color: rgba(255, 0, 0, 0.468);
    border-radius: 5px;
    width: 200px;
}

.errors ul {
    text-align: start;
    padding: 0;
}

.errors ul li {
    text-align: start;
    padding: 0;
    padding: 2px 0;
}

.containerMessage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #333333cb;
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
    z-index: 354534;
}

.showMessage {
    background-color: white;
    text-transform: capitalize;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgb(255, 255, 255);
    z-index: 354534;

}


.progressBar {
    width: 100%;
    height: 5px;
    background: #ccc;
    margin-top: 10px;
    overflow: hidden;
    z-index: 354534;

    border-radius: 5px;
}

.progress {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, #CD4E17, #9A070E);
    animation: progressAnimation 2s ease-in-out forwards;
    z-index: 354534;

}

@keyframes progressAnimation {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}