.dropdown {
    position: relative;
    list-style: none;
}

.containerDropMenu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuButtonClick {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #EAEAEA;
    transition: color 0.3s ease;
}

.menuButtonClick:hover {
    color: red;
}

.dropdownContent_Ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #2A2A2A;
    min-width: 200px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
}

.dropdownContent_Ul a,
.FormButton {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #EAEAEA;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    font-size: 17px;
    width: 100%;
}

.dropdownContent_Ul a:hover,
.FormLink:hover {
    background: #3A3A3A;
    color: red;
}